__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.toast
.lucid
.pytest_cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.local-browsers/
.docker/
.vscode/
.idea/
*.swp
*.swo
/debug/*
accounts.sqlite
.env